<h2>{{data.name}}</h2>
<img src="{{data.image}}" alt="">
<div class="btn_cont">
    <a href="/users/{{user._id}}/books/{{data._id}}"><button class="btn_take">Арендовать книгу</button></a>
    <a href="/users/{{rented}}/{{_id}}"><button class="btn_return">Вернуть книгу</button></a>
</div>
<h3>Отзывы</h3>
<hr>
<ul class="comment_nav">
    {{#each com}}
    <li><h3>{{name}}</h3><br>{{text}}</li><hr>
    {{/each}}
</ul>

